<h1 style="margin:32px 0;font-family:'Questa-Grande';font-weight:500;font-size:87px;color:#129A38;line-height:60px;">%user_first_name% %user_last_name%</h1>
<h5 style="font-size:16px;font-weight:200;margin:0;">a participé au module</h5>
<h3 style="font-size:24px;font-weight:400;margin:4px 0;">%course_name%</h3>
<h5 style="font-size:16px;font-weight:200;margin:0;">Du %course_start% au %course_end%</h5>

<div style="width:400px;height:1px;margin:2rem auto;background-color:#129A38;"></div>

<h6 style="font-size:14px;font-weight:100;margin:0;">%course_location%, le %today%</h6>