@media print {
    html {
        height: auto !important;
        overflow-y: auto;
    }

    .app-header-container {
        display: none;
    }

    .breadcrumb {
        display: none;
    }

    .page-actions {
        display: none;
    }

    .tag-cell {
        display: flex;
        flex-flow: row wrap;
    }

    .app .app-menu {
        display: none;
    }

    .app-content .app-footer-container {
        display: none;
    }

    .overview-user-actions {
        display: none;
    }
}
